@use "./utils/mixins" as *;

// viewport

:root {
  --viewport: 1440;

  @include mobile {
    --viewport: 375;
  }
}

// fonts

:root {
  --f-extrabold: "Nohemi-ExtraBold";
  --f-medium: "Poppins-Medium";
  --f-semibold: "Poppins-SemiBold";
  --f-bold: "Poppins-Bold";
}

// transitions

:root {
  --t-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
}

// colors

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-milk: #f9fafb;
  --c-orange: #f5a600;
  --c-yellow: #ffec00;
  --c-grey-3: #eff2f2;
  --c-grey: #626262;
}

// z-index

:root {
  --z-header: 3000;
  --z-menu: 2000;
  --z-popup: 5000;
  --z-loader: 9000;
  --z-preloader: 9999;
  --z-cover: 100;
}
