@font-face {
  font-family: "CodecPro-Thin";
  src:
    url("../fonts/CodecPro/CodecPro-Thin.woff2"),
    url("../fonts/CodecPro/CodecPro-Thin.woff"),
    url("../fonts/CodecPro/CodecPro-Thin.otf");
  font-style: normal;
  font-display: swap;
}
