@use "./utils/functions" as *;
@use "./utils/mixins" as *;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  font-size: vw(16);
  background: var(--c-milk);
  color: var(--c-black);
  font-family: var(--f-medium);
}
::selection {
  color: var(--c-white);
  background: var(--c-black);
}

body {
  overscroll-behavior: none;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
// remove input's autofill colors

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--c-black) !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -moz-text-fill-color: var(--c-white) !important;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.inner-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Lenis recommended styles

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

// sections
.section {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    padding: 2.5rem 1rem;
  }
}
.base-card {
  border-radius: 1.5rem;
  border: 0.0938rem solid var(--c-grey-3);
  background: var(--c-white);
  padding: 1.5rem;
  width: 100%;
  @include mobile {
    border-radius: 1rem;
  }
}

// adaptive
.mob {
  @include desktop {
    display: none;
  }
}
.desk {
  @include mobile {
    display: none;
  }
}

// swiper
.swiper-pag {
  display: flex;
  gap: 0.5938rem;
  justify-content: center;
}
.swiper-pagination-bullet {
  border-radius: 0.1875rem;
  background: #e7e7e7;
  width: 0.75rem;
  height: 0.75rem;
  border: 0.0313rem solid transparent;
  transition: all 0.4s var(--t-ease);
}
.swiper-pagination-bullet-active {
  background: var(--c-yellow);
  border-color: var(--c-black);
  box-shadow: 0.125rem 0.125rem 0 var(--c-black);
}

.swiper-prev-btn,
.swiper-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.swiper-prev-btn {
  left: 1rem;
}
.swiper-next-btn {
  right: 1rem;
}

.swiper-prev-btn svg {
  width: 1.25rem;
  transform: rotate(90deg);
}
.swiper-next-btn svg {
  width: 1.25rem;
  transform: rotate(-90deg);
}
