@use "./utils/functions" as *;
@use "./utils/mixins" as *;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  font-size: vw(16);
  background: var(--c-milk);
  color: var(--c-black);
  font-family: var(--f-medium);
}
::selection {
  color: var(--c-white);
  background: var(--c-black);
}

body {
  overscroll-behavior: none;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
// remove input's autofill colors

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--c-white) !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -moz-text-fill-color: var(--c-white) !important;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.inner-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Lenis recommended styles

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

// sections
.section {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
